body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(150, 150, 150);
  }
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);
    position: absolute;
  }
  .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 1.5s linear infinite;
  }
  .bar1 {
    animation-delay: 0.4s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.1s;
  }
  .bar4 {
    animation-delay: 0.2s;
  }
  .bar5 {
    animation-delay: 0.4s;
  }
  .bar6 {
    animation-delay: 0.2s;
  }
  .bar7 {
    animation-delay: 0.1s;
  }
  .bar8 {
    animation-delay: 0.4s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: rgb(193, 255, 7);
    }
    50% {
      transform: scaleY(1);
      background: rgb(255, 214, 7);
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }
  